<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <yellowcard>
            <general>
                <is_active>1</is_active>
                <cron>*/2 * * * *</cron>
                <quantity>300</quantity>
            </general>
        </yellowcard>
    </default>
</config>
