<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="yellowcard" translate="label" sortOrder="10">
            <label>YellowCard</label>
        </tab>
        <section id="yellowcard" translate="label" sortOrder="130" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Products Exporter</label>
            <tab>yellowcard</tab>
            <resource>YellowCard_ProductsExporter::exporter_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="is_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Products Exporter</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>yellowcard/general/status</config_path>
                </field>
                <field id="statuses" sortOrder="30" showInDefault="1" type="select" showInWebsite="0" showInStore="0">
                    <label>Status</label>
                    <comment>From this status we will export products</comment>
                    <source_model>Magento\Sales\Model\ResourceModel\Order\Status\Collection</source_model>
                    <config_path>yellowcard/general/status</config_path>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="is_active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
